<div class="all1">
  <div class="csk">
    <div class="name">
      <p>{{ name[0] }}</p>
    </div>
    <div class="web">
      <a href="{{ website[0] }}">{{ website[0] }}</a>
    </div>
    <div class="phone">
      <p>{{ phone[0] }}</p>
    </div>
    <div class="image">
      <img src="../../assets/{{ imagef[0] }}" alt="csk" />
    </div>
  </div>
  <div class="mi">
    <div class="name">
      <p>{{ name[1] }}</p>
    </div>
    <div class="web">
      <a href="{{ website[1] }}">{{ website[1] }}</a>
    </div>
    <div class="phone">
      <p>{{ phone[1] }}</p>
    </div>
    <div class="image">
      <img src="../../assets/{{ imagef[2] }}" alt="csk" />
    </div>
  </div>
  <div class="rr">
    <div class="name">
      <p>{{ name[2] }}</p>
    </div>
    <div class="web">
      <a href="{{ website[2] }}">{{ website[2] }}</a>
    </div>
    <div class="phone">
      <p>{{ phone[2] }}</p>
    </div>
    <div class="image">
      <img src="../../assets/{{ imagef[2] }}" alt="csk" />
    </div>
  </div>
  <div class="dc">
    <div class="name">
      <p>{{ name[3] }}</p>
    </div>
    <div class="web">
      <a href="{{ website[3] }}">{{ website[3] }}</a>
    </div>
    <div class="phone">
      <p>{{ phone[3] }}</p>
    </div>
    <div class="image">
      <img src="../../assets/{{ imagef[3] }}" alt="csk" />
    </div>
  </div>
  <div class="rcb">
    <div class="name">
      <p>{{ name[4] }}</p>
    </div>
    <div class="web">
      <a href="{{ website[4] }}">{{ website[4] }}</a>
    </div>
    <div class="phone">
      <p>{{ phone[4] }}</p>
    </div>
    <div class="image">
      <img src="../../assets/{{ imagef[4] }}" alt="csk" />
    </div>
  </div>
  <div class="kkr">
    <div class="name">
      <p>{{ name[5] }}</p>
    </div>
    <div class="web">
      <a href="{{ website[5] }}">{{ website[5] }}</a>
    </div>
    <div class="phone">
      <p>{{ phone[5] }}</p>
    </div>
    <div class="image">
      <img src="../../assets/{{ imagef[5] }}" alt="csk" />
    </div>
  </div>
  <div class="kxip">
    <div class="name">
      <p>{{ name[6] }}</p>
    </div>
    <div class="web">
      <a href="{{ website[6] }}">{{ website[6] }}</a>
    </div>
    <div class="phone">
      <p>{{ phone[6] }}</p>
    </div>
    <div class="image">
      <img src="../../assets/{{ imagef[6] }}" alt="csk" />
    </div>
  </div>
  <div class="sh">
    <div class="name">
      <p>{{ name[7] }}</p>
    </div>
    <div class="web">
      <a href="{{ website[7] }}">{{ website[7] }}</a>
    </div>
    <div class="phone">
      <p>{{ phone[7] }}</p>
    </div>
    <div class="image">
      <img src="../../assets/{{ imagef[7] }}" alt="csk" />
    </div>
  </div>
</div>
<br />
<footer>Made with ❤️ by ProGrad</footer>
