.all1 {
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 250px 350px 600px;
  grid-gap: 9%;
}

.name,
.web,
.phone,
.image {
  text-align: center;
}

img {
  width: 200px;
}

footer {
  padding: 50px;
}
